---
import type { CollectionEntry } from "astro:content";
import CustomLink from "./CustomLink.astro";

type Props = {
  links: CollectionEntry<"links">[];
};

const { links } = Astro.props;
---

<div aria-label="Links list">
  {links.map((entry) => (
    <CustomLink entry={entry} />
  ))}
</div>
