---
import { Image } from "astro:assets";

import { SITE } from "@/siteConfig";

import profilePicture from "@/assets/profile-picture.jpg";
---

<div class="mt-8 py-4">
  <Image
    src={profilePicture}
    alt={SITE.name}
    height={256}
    width={256}
    loading="eager"
    draggable="false"
    class="mx-auto size-32 rounded-full ring-[3px] ring-lightModeForeground dark:ring-darkModeForeground button-shadow-small"
  />
  <h1 class="mt-4 text-center text-3xl font-bold tracking-tight">{SITE.name}</h1>
  <p
    class="mt-2 text-balance text-center text-[15px] font-medium text-lightModeForegroundMuted dark:text-darkModeForegroundMuted"
    style="line-height: 1.5;"
  >
    {SITE.bio}
  </p>
</div>
